<div class="min-vh-100 d-flex align-items-center">
  <div class="container py-5">
    <h1 class="display-4 fw-bold mb-4 text-shadow title-text">Biography</h1>

    <div class="bio-content d-flex flex-column flex-md-row gap-4">
      <!-- Biography Text -->
      <div class="bio-text-container col-md-8">
        <p class="bio-text">
          <em>
            As we all started to know that the 30<sup>th</sup> of May in 2005 was the day that Angel Di Di was born.
            On the other hand the precious day for both Mr and Mrs Zaw Min. Not only is she an angel for me but for people
            around her, bless people with her beauty and her genuine kindness. Loves towards God is the silverline in her
            life. The passion of wanting to be a cabin crew was always occupied in her life. The magnificent of her life
            is just because of she’s being herself, everything is possible when she put it in her mind which quite literally
            nothing can stop her. She's such a great woman and a tough one. She knows how to fight for what she loves.
            Always been a very sweet girl ever since. One secret joke about her is that she'd made her grandma leave her
            place once and ate Kimchi as her dinner LOL. Every partner that'll have her will be the luckiest person alive.
            I myself love her everything. Angels do have flaws too but those things make her who she is and I love her flaws
            which are also sexy at the same time. Undoubtedly I can say that Di Di is nothing but a God's masterpiece.
            She's a peace, solution and a warm place for me to stay. I love you Di Di
          </em>
        </p>
      </div>

      <!-- Image Section -->
      <div class="bio-images col-md-4">
        <img src="images/Didi-young.png" class="bio-img" alt="Di Di young" />
        <img src="images/Didi-child.png" class="bio-img" alt="Di Di child" />
      </div>
    </div>

    <!-- Back to Home Button -->
    <div class="mt-5 text-start">
      <a href="index.html" class="btn btn-custom mb-4">
        ← Back
      </a>
    </div>
  </div>
</div>
