<div class="container py-5">
  <h1 class="text-center mb-4 title-text">Di Di’s Favorites</h1>
  <div class="row g-4">
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/mirror.png" alt="Mirror Photo" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/jesus.png" alt="Jesus and Bird" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/family.png" alt="Graduation with Family" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/travel.png" alt="Travel" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/shopping.png" alt="Shopping" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/durian.png" alt="Durian" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/saiyee.png" alt="Childhood Photo" class="img-fluid rounded" />
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="image-card">
        <img src="images/kimchi.png" alt="Kimchi" class="img-fluid rounded" />
      </div>
    </div>

    <!-- Back to Home Button -->
    <div class="mt-5 text-start">
      <a href="/home" class="btn btn-custom  mb-4">
        ← Back
      </a>
    </div>
  </div>
</div>

