<!-- First Section -->
<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center">
  <div class="row align-items-center px-4 flex-column flex-lg-row text-center text-lg-left">
    <!-- Left Section -->
    <div class="col-lg-6 mb-4 mb-lg-0">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
        <img
          src="images/angel-icon.png"
          alt="Angel Icon"
          class="img-fluid mb-3 mb-lg-0 angel-img"
        />
        <h1 class="angel-title">LIFE <br />OF AN <br />ANGEL</h1>
      </div>
    </div>

    <!-- Right Section -->
    <div class="col-lg-6">
      <div class="d-flex flex-column bg-light-classic">
        <a routerLink="/bio" class="btn btn-lg-custom mb-4">Biography</a>
        <a routerLink="/favorites" class="btn btn-lg-custom mb-4">Di Di's favorites</a>
        <a routerLink="/why" class="btn btn-lg-custom">Why Di Di's an angel</a>
      </div>
    </div>
  </div>
</div>

<!-- Second Section -->
<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center bg-secondary text-white">
  <div class="row px-4 text-center">
    <div class="col">
      <h2 class="mb-4 wish-text" style="max-width: 90%; word-wrap: break-word; text-align: center; margin: 0 auto;">Happy Birthday Di Di, I love you so much that I can't find a word more powerful than “I love you”</h2>
    </div>
  </div>
</div>
